.app-header {
    margin-top: 12%;
    align-items: flex-end;
}

 h1 {
    color: rgb(90, 86, 86);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

 p {
    font-size: 1.2rem;
    color: grey;
}

span{
    font-size: 1em;
    color: rgb(47, 141, 102);
}